<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <title>Sakthi Kodu | Tamil Nadu</title>
  </head>
  <body>
    <div class="container">
    <div class="masthead pull-down">
        <ul class="nav nav-pills  pull-right">
          <li class="disabled"><a href="#">View By :</a></li>
          <li class="active"><a href="#">Tamil Nadu</a></li>
          <li><a href="#">District</a></li>
          <li><a href="#">Ward</a></li>
          <li><a href="#">Street</a></li>
        </ul>
      <h1>Sakthi Kodu</h1>
    </div>
    <div class="pull-down-2">
    <h3>Street Wise Energy Consumption</h3>
    </div>
    <br>
    <div class="row">
    <div class="col-lg-4">
    <div class="row">
    <div class="panel panel-info col-lg-6">
      <div class="panel-heading pull-center">
      <p class="announcement-heading">21</p>
      <p class="announcement-text">Street Lights</p>
      </div>
    </div>
    <div class="panel panel-info col-lg-6">
      <div class="panel-heading pull-center">
      <p class="announcement-heading">678</p>
      <p class="announcement-text">kW Power</p>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="panel panel-info col-lg-6">
      <div class="panel-heading pull-center">
      <p class="announcement-heading">108</p>
      <p class="announcement-text">kWh Energy</p>
      </div>
    </div>
    <div class="panel panel-info col-lg-6">
      <div class="panel-heading pull-center">
      <p class="announcement-heading">4.5</p>
      <p class="announcement-text">Luminance</p>
      </div>
    </div>
    </div>
    </div>
    <div class="col-lg-8">
    <div class="flot-chart">
                  <div class="flot-chart-content" id="flot-chart-line"></div>
                </div>
    </div>
    </div>
    <div>
    <h3>Detailed Report</h3>
    <table class="table table-bordered table-hover table-striped ">
                <thead>
                  <tr>
                    <th class="header headerSortUp">Street Light ID</th>
                    <th class="header">Type</th>
                    <th class="header">Status</th>
                    <th class="header">Power</th>
                    <th class="header">Luminance</th>
                    <th class="header">Energy</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Yellow Bulb</td>
                    <td>ON</td>
                    <td>67W</td>
                    <td>4</td>
                    <td>200kWh</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Yellow Bulb</td>
                    <td>ON</td>
                    <td>67W</td>
                    <td>4</td>
                    <td>200kWh</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Yellow Bulb</td>
                    <td>ON</td>
                    <td>67W</td>
                    <td>4</td>
                    <td>200kWh</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Yellow Bulb</td>
                    <td>ON</td>
                    <td>67W</td>
                    <td>4</td>
                    <td>200kWh</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Yellow Bulb</td>
                    <td>ON</td>
                    <td>67W</td>
                    <td>4</td>
                    <td>200kWh</td>
                  </tr>
                  </tbody>
              </table>
    </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="js/morris/chart-data-morris.js"></script>
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
  <script src="js/flot/jquery.flot.js"></script>
  <script src="js/flot/jquery.flot.tooltip.min.js"></script>
  <script src="js/flot/jquery.flot.resize.js"></script>
  <script src="js/flot/jquery.flot.pie.js"></script>
    <script src="js/charts.js"></script>
  </body>
</html>
